dialog {
    max-width: 35em; 
}

label.percent {
    margin-left: -0.18em;
}

.tip {
    margin-left: 4.7em;
    margin-bottom: 1.0em;
    margin-right: 0.5em;
    color: #666;
}

.indent {
    margin-left: 2.5em;
}

#domainZoom-button {
    margin-bottom: 0.75em;
}
